.speedkey-launcher-container {
    all: initial;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.speedkey-launcher-overlay {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999999999999999999999999!important;
}

.speedkey-launcher-overlay.dark-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.speedkey-launcher-box {
    display: block;
    color: #C5C5C5;
    background-color: #252525;
    flex: 0 1 auto;
    width: 400px;
    max-width: 80vw;
    margin: 5px;
    box-shadow: 3px 6px 4px 0px rgba(0,0,0,0.75);
    z-index: 9999999999999999999999999!important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;    
}

.speedkey-match-list {
    max-height: calc(100vh - 55px);
    overflow-y: auto;
    scrollbar-width: none;
}

.speedkey-match-list-member {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    cursor: pointer;
}

.speedkey-match-list-member:hover {
    background-color: #2A2D2E;
}

.speedkey-match-list-member.highlighted {
    background-color: #062F4A;
}

.speedkey-match-list-member img {
    flex: 0 0 auto;
}

.speedkey-launcher-input {
    background-color: #3E3E3E;
    color: #C5C5C5;
    padding: 5px;
    width: calc(100% - 10px);
    flex: 0 1 auto;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 18px;
    height: 28px;
    margin: 0;
    box-sizing: content-box;
}