body {
    width: 350px;
    height: 500px;
    margin: 0;
    padding: 0;
}

.speedkey-launcher-box {
    color: #646464;
    background-color: #f2f2f2;
    display: block;
    flex: 0 1 auto;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;    
}

.speedkey-theme-dark .speedkey-launcher-box {
    color: #c5c5c5;
    background-color: #252525;
}

.speedkey-match-list {
    max-height: calc(100vh - 55px);
    overflow-y: auto;
    scrollbar-width: none;
}

.speedkey-match-list-member {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    line-height: 24px;
    cursor: pointer;
}

.speedkey-match-list-member:hover {
    background-color: #e7e7e7;
}

.speedkey-theme-dark .speedkey-match-list-member:hover {
    background-color: #2a2d2e;
}

.speedkey-match-list-member.highlighted {
    background-color: #d2eafe;
}

.speedkey-theme-dark .speedkey-match-list-member.highlighted {
    background-color: #062f4a;
}

.speedkey-match-list-member img {
    flex: 0 0 auto;
}

.speedkey-launcher-input {
    background-color: #ffffff;
    color: #646464;
    padding: 5px;
    width: calc(100% - 10px);
    flex: 0 1 auto;
    border: none;
    outline: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 18px;
    height: 28px;
    margin: 0;
    box-sizing: content-box;
}

.speedkey-theme-dark .speedkey-launcher-input {
    background-color: #3e3e3e;
    color: #c5c5c5;
}