.speedkey-launcher-overlay {
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999999999999999999999999;
}

.speedkey-launcher-box {
    flex-direction: column;
    flex: 0 1 auto;
}

.speedkey-launcher-input {
    flex: 0 1 auto;
}